<div class="d-flex justify-content-between">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        aria-current="page"
        *ngFor="let name of list; last as last"
        [ngClass]="{ active: last }"
      >
        {{ name }}
      </li>
    </ol>
  </nav>
  <a
    [routerLink]="'/cart'"
    class="link-success link-offset-2 link-underline link-underline-opacity-0"
  >
    <i class="bi bi-cart m pe-1"></i>Giỏ hàng (
    {{ cart.length }}
    )
  </a>
</div>
