<div class="footer d-flex justify-content-evenly gap-4 mt-5">
  <div class="card border border-0">
    <div class="card-body p-0">
      <h5 class="card-title mb-3">Green Garden</h5>
      <p class="card-text">
        Green Garden chuyên cung cấp giải pháp tổng thể về cây cảnh đến quý
        khách hàng trên toàn quốc. Bao gồm cây cảnh, hoa cảnh các loại, cây hồ
        cá, cây công trình, cây thảm nền... với nhiều chủng loại cây và giá gốc
        tại vườn. Green Garden rất hân hạnh được phục vụ quý khách!
      </p>
    </div>
  </div>
  <div class="card border border-0">
    <div class="card-body p-0">
      <h5 class="card-title mb-3">Địa chỉ</h5>
      <ul class="m-0 p-0 ist-unstyled">
        <li>Chi nhánh 1: Thành phố Uông Bí, Quảng Ninh</li>
        <li>Chi nhánh 2: Thuỵ Khuê, Tây Hồ, Hà Nội</li>
        <li>Điện thoại: 0986.666.864</li>
        <li>Email: NhavuonThaoKhiem@gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="card border border-0">
    <div class="card-body p-0">
      <h5 class="card-title mb-3">Thời gian làm việc</h5>
      <p class="card-text">
        Nhà vườn làm việc tất cả các ngày trong tuần, phục vụ quý khách gần xa
        đến tham quan và mua sắm cây mộc hương
      </p>
    </div>
  </div>
</div>
