<div class="cart-container">
  <h5>Giỏ hàng</h5>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="m-0">Danh mục sản phẩm</h6>
    <div class="d-flex gap-5 align-items-center">
      <h6 class="m-0">Tổng tiền: {{ sumPrice | number : '1.0-0' }}</h6>
      <button type="button" class="btn btn-success">
        <span (click)="checkout()">Mua hàng</span>
      </button>
    </div>
  </div>
  <nz-table #basicTable [nzData]="carts" nzShowPagination>
    <thead>
      <tr>
        <th>STT</th>
        <th>Ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá tiền</th>
        <th nzWidth="10%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as index">
        <td>{{ index + 1 }}</td>
        <td style="width: 20%">
          <img style="height: 100px; width: 100px" [src]="data.image" alt="" />
        </td>
        <td>{{ data?.name }}</td>
        <td>
          <button
            nz-button
            nzType="dashed"
            class="me-1"
            (click)="increment(data)"
          >
            -
          </button>
          {{ data?.quantity }}
          <button
            nz-button
            nzType="dashed"
            class="ms-1"
            (click)="decrement(data)"
          >
            +
          </button>
        </td>
        <td>{{ data?.price | number : '1.0-0' }}</td>
        <td>
          <button
            nz-button
            nzType="primary"
            nz-popconfirm
            nzPopconfirmTitle="Bạn có muốn xoá sản phẩm này"
            (nzOnConfirm)="clear(index, carts)"
          >
            <span>Xoá sản phẩm</span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  [nzTitle]="'Xác nhận mua hàng'"
  (nzOnCancel)="isVisibleModal = false"
  (nzOnOk)="handleConfirm()"
  [nzOkLoading]="isOkLoading"
  #modalForm
>
  <ng-container *nzModalContent>
    <form #formTransition="ngForm" nz-form>
      <nz-form-item>
        <nz-form-label>Địa chỉ</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Địa chỉ không được trống">
          <input
            nz-input
            [(ngModel)]="formConfirmTransaction.address"
            name="address"
            required
          />
        </nz-form-control>
      </nz-form-item>
    </form>
    <div>Tổng tiền: {{ sumPrice | number : '1.0-0' }}</div>
  </ng-container>
</nz-modal>
