<div class="admin-container">
  <h5 class="mb-4">{{ activeCategory?.name }}</h5>
  <div [ngSwitch]="activeCategory.link">
    <div *ngSwitchCase="'category'">
      <button nz-button (click)="addCategory()" nzType="primary">
        Thêm loại cây
      </button>
      <br />
      <br />
      <nz-table #categoryTable nzBordered [nzData]="listCategories">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên danh mục</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of categoryTable.data; index as index"
            class="editable-row"
          >
            <td>
              {{ index + 1 }}
            </td>
            <td>{{ data?.name }}</td>
            <td>
              <div class="d-flex gap-1">
                <button
                  nz-button
                  nzType="primary"
                  class="mr-1"
                  (click)="editCategory(data)"
                >
                  Chỉnh sửa
                </button>
                <button
                  nz-button
                  nzType="primary"
                  nz-popconfirm
                  nzPopconfirmTitle="Bạn có muốn xoá"
                  (nzOnConfirm)="deleteCategory(data.id)"
                >
                  <span>Xoá</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngSwitchCase="'tree'">
      <button nz-button (click)="openModalTree()" nzType="primary">
        Thêm cây cảnh
      </button>
      <br />
      <br />
      <nz-table #treeTable nzBordered [nzData]="listTree">
        <thead>
          <tr>
            <th>STT</th>
            <th nzWidth="15%">Tên cây cảnh</th>
            <th nzWidth="20%">Hình ảnh</th>
            <th>Giá</th>
            <th nzWidth="5%">Số lượng</th>
            <th>Mô tả</th>
            <th nzWidth="15%">Loại cây</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of treeTable.data; index as index"
            class="editable-row"
          >
            <td>{{ index + 1 }}</td>
            <td>
              <div
                class="editable-cell ellipsis-text-1"
                [hidden]="editId === data.id"
                (click)="startEdit(data.id)"
              >
                <span nz-tooltip [nzTooltipTitle]="data.name">{{
                  data.name
                }}</span>
              </div>
              <input
                [hidden]="editId !== data.id"
                type="text"
                nz-input
                [(ngModel)]="data.name"
                (blur)="stopEdit()"
              />
            </td>
            <td>
              <img
                [src]="data.image"
                alt="#"
                style="height: 100px; width: 100%"
              />
            </td>
            <td>{{ data.price | number : '1.0-0' }}</td>
            <td>{{ data.inStock }}</td>
            <td>
              <p class="ellipsis-text-1">
                <span nz-tooltip [nzTooltipTitle]="data.description">{{
                  data.description
                }}</span>
              </p>
            </td>
            <td>
              {{ data.categories?.length ? data.categories[0]?.name : '' }}
            </td>
            <td>
              <div class="d-flex gap-1">
                <button
                  nz-button
                  nzType="primary"
                  class="mr-1"
                  (click)="editTree(data)"
                >
                  Chỉnh sửa
                </button>
                <button
                  nz-button
                  nzType="primary"
                  nz-popconfirm
                  nzPopconfirmTitle="Bạn có muốn xoá"
                  (nzOnConfirm)="deleteTree(data.id)"
                >
                  <span>Xoá</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngSwitchCase="'client'">
      <button nz-button (click)="addClient()" nzType="primary">
        Thêm khách hàng
      </button>
      <br />
      <br />
      <nz-table #clientTable nzBordered [nzData]="listClient">
        <thead>
          <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of clientTable.data; index as index"
            class="editable-row"
          >
            <td>
              {{ index + 1 }}
            </td>
            <td>{{ data?.fullName }}</td>
            <td>{{ data?.email }}</td>
            <td>{{ data?.phoneNumber }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                class="me-1"
                (click)="editClient(data)"
              >
                <span>Chỉnh sửa</span>
              </button>
              <button
                nz-button
                nzType="primary"
                nz-popconfirm
                nzPopconfirmTitle="Bạn có muốn xoá tài khoản này?"
                (nzOnConfirm)="deleteUser(data.id)"
              >
                <span>Xoá</span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngSwitchCase="'staff'">
      <button nz-button (click)="addStaff()" nzType="primary">
        Thêm nhân viên
      </button>
      <br />
      <br />
      <nz-table #staffTable nzBordered [nzData]="listStaff">
        <thead>
          <tr>
            <th>STT</th>
            <th>Email</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Hệ số lương</th>
            <th style="width: 21%">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of staffTable.data; index as index"
            class="editable-row"
          >
            <td>
              {{ index + 1 }}
            </td>
            <td>{{ data?.email }}</td>
            <td>{{ data?.fullName || '...' }}</td>
            <td>{{ data?.phoneNumber || '...' }}</td>
            <td>{{ data?.address || '...' }}</td>
            <td>{{ data?.hsl || '...' }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                class="me-1"
                (click)="editStaff(data)"
              >
                <span>Chỉnh sửa</span>
              </button>
              <button
                nz-button
                nzType="primary"
                nz-popconfirm
                nzPopconfirmTitle="Bạn có muốn xoá tài khoản này?"
                (nzOnConfirm)="deleteUser(data.id)"
              >
                <span>Xoá</span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngSwitchCase="'invoice'">
      <div class="d-flex justify-content-between">
        <div>
          <button nz-button nzType="primary">
            <!-- <span>Thêm hoá đơn</span> -->
          </button>
        </div>
        <div>
          <!-- Chọn báo cáo thống kê:
          <nz-range-picker
            [(ngModel)]="date"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker> -->
          <button
            nz-button
            nzType="primary"
            class="ms-2"
            (click)="openReport()"
          >
            <span>Xem thông kê</span>
          </button>
        </div>
      </div>
      <nz-table #invoiceTable nzBordered [nzData]="listInvoice" class="mt-3">
        <thead>
          <tr>
            <th
              *ngFor="let column of listColumnInvoice"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
            >
              {{ column?.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of invoiceTable.data; index as index"
            class="editable-row"
          >
            <td>
              {{ data?.id }}
            </td>
            <td>{{ data?.user?.email }}</td>
            <td>{{ data?.price | number : '1.0-0' }}</td>
            <td>{{ data?.address }}</td>
            <td>
              <button nz-button nzType="primary" class="me-2">
                <span (click)="viewDetailInvoice(data)">Xem chi tiết</span>
              </button>
              <button nz-button nzType="primary" (click)="printInvoice(data)">
                <span>In hoá đơn</span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- Modal thêm loại cây -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="isEditCategory ? 'Sửa loại cây' : 'Thêm loại cây'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleAddCategory()"
>
  <ng-container *nzModalContent>
    <form #form="ngForm">
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="name" style="width: 100px">Tên loại cây:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formCategory.name"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2">
        <label for="status" style="width: 100px">Trạng thái:</label>
        <nz-select
          id="status"
          name="status"
          [(ngModel)]="formCategory.active"
          required
          style="height: 32px; flex: 1; border: 1px solid #dddddd"
        >
          <nz-option nzLabel="Hoạt động" [nzValue]="true"></nz-option>
          <nz-option nzLabel="Ngưng hoạt động" [nzValue]="false"></nz-option>
        </nz-select>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Modal thêm cây cảnh -->
<nz-modal
  [(nzVisible)]="openModalAddTree"
  [nzTitle]="isEditTree ? 'Chỉnh sửa cây cảnh' : 'Thêm cây cảnh'"
  (nzOnCancel)="handleCancelTree()"
  (nzOnOk)="handleAddTree()"
>
  <ng-container *nzModalContent>
    <form #form="ngForm">
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="name" style="width: 100px">Tên cây cảnh:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formTree.name"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 10px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="inStock" style="width: 100px">Số lượng:</label>
        <input
          type="number"
          id="inStock"
          name="inStock"
          [(ngModel)]="formTree.inStock"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 10px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="price" style="width: 100px">Giá tiền:</label>
        <input
          type="number"
          id="price"
          name="price"
          [(ngModel)]="formTree.price"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 10px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="image" style="width: 100px">Hình ảnh:</label>
        <input
          type="text"
          id="image"
          name="image"
          [(ngModel)]="formTree.image"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 10px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="image" style="width: 100px">Hình ảnh:</label>
        <div class="clearfix">
          <nz-upload
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzShowButton]="fileList.length < 1"
            [nzPreview]="handlePreview"
            (nzChange)="handleChange($event)"
          >
            <div>
              <span nz-icon nzType="plus"></span>
              <div style="margin-top: 8px">Tải lên</div>
            </div>
          </nz-upload>
          <nz-modal
            [nzVisible]="previewVisible"
            [nzContent]="modalContent"
            [nzFooter]="null"
            (nzOnCancel)="previewVisible = false"
          >
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </div>
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="description" style="width: 100px">Mô tả:</label>
        <nz-textarea-count
          [nzMaxCharacterCount]="1500"
          style="display: flex; flex-direction: column; flex: 1"
        >
          <textarea
            type="text"
            id="description"
            name="description"
            [(ngModel)]="formTree.description"
            required
            nz-input
            placeholder="write any thing"
            style="flex: 1"
          ></textarea>
        </nz-textarea-count>
      </div>
      <div nz-form-item class="d-flex gap-2">
        <label for="categories" style="width: 100px">Loại cây: </label>
        <nz-select
          id="categories"
          name="categories"
          [(ngModel)]="formTree.categories[0]"
          (ngModelChange)="categoriesChange($event)"
          required
          style="height: 32px; flex: 1; border: 1px solid #dddddd"
        >
          <nz-option
            [nzLabel]="category.name"
            [nzValue]="category.id"
            *ngFor="let category of listCategories"
          ></nz-option>
        </nz-select>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Modal thêm khách hàng -->
<nz-modal
  [(nzVisible)]="isVisibleClient"
  [nzTitle]="isEditClient ? 'Sửa thông tin khách hàng' : 'Thêm khách hàng'"
  (nzOnCancel)="handleCancelClient()"
  (nzOnOk)="handleAddClient()"
>
  <ng-container *nzModalContent>
    <form #form="ngForm">
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="name" style="width: 100px">Email:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formClient.email"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="fullName" style="width: 100px">Họ và tên:</label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          [(ngModel)]="formClient.fullName"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="phoneNumber" style="width: 100px">Số điện thoại:</label>
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="formClient.phoneNumber"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Modal thêm nhân viên -->
<nz-modal
  [(nzVisible)]="isVisibleStaff"
  [nzTitle]="isEditStaff ? 'Sửa thông tin nhân viên' : 'Thêm nhân viên'"
  (nzOnCancel)="handleCancelStaff()"
  (nzOnOk)="handleAddStaff()"
>
  <ng-container *nzModalContent>
    <form #form="ngForm">
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="email" style="width: 100px">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="formStaff.email"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="name" style="width: 100px">Họ và tên:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formStaff.fullName"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="phoneNumber" style="width: 100px">Số điện thoại:</label>
        <input
          type="text"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="formStaff.phoneNumber"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="address" style="width: 100px">Địa chỉ:</label>
        <input
          type="text"
          id="address"
          name="address"
          [(ngModel)]="formStaff.address"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
      <div nz-form-item class="d-flex gap-2 mb-2">
        <label for="hsl" style="width: 100px">Hệ số lương:</label>
        <input
          type="text"
          id="hsl"
          name="hsl"
          [(ngModel)]="formStaff.hsl"
          required
          style="
            height: 32px;
            flex: 1;
            border: 1px solid #dddddd;
            padding: 0 12px;
          "
        />
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Modal chi tiết hoá đơn -->
<nz-modal
  [(nzVisible)]="isVisibleInvoiceDetail"
  (nzOnCancel)="handleCancelInvoiceDetail()"
  (nzOnOk)="handleOklInvoiceDetail()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <h5 class="my-3 text-center">Chi tiết hoá đơn</h5>
    <div class="row gy-3">
      <div class="col-6">Mã hoá đơn: {{ dataDetailInvoice?.id }}</div>
      <div class="col-6">
        Ngày tạo: {{ dataDetailInvoice?.createdAt | date : 'dd/MM/yyyy' }}
      </div>
      <div class="col-6">
        Tên khách hàng: {{ dataDetailInvoice?.user.fullName }}
      </div>
      <div class="col-6">Địa chỉ: {{ dataDetailInvoice?.address }}</div>
    </div>
    <nz-table
      class="mt-4"
      #invoiceTable
      nzSize="small"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzData]="dataDetailInvoice?.tree"
    >
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên cây</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of invoiceTable.data; index as index">
          <td>
            {{ index + 1 }}
          </td>
          <td>{{ data?.name }}</td>
          <td>{{ data?.Item.quantity }}</td>
          <td class="text-end">
            {{ data?.Item.quantity * data?.price | number : '1.0-0' }} đ
          </td>
        </tr>
        <tr>
          <td>Tổng tiền</td>
          <td colspan="3" class="text-end">
            {{ dataDetailInvoice.price | number : '1.0-0' }} đ
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>

<!-- Footer footer invoice -->
<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancelInvoiceDetail()">
    Huỷ
  </button>
  <button nz-button nzType="primary" (click)="handleOklInvoiceDetail()">
    In hoá đơn
  </button>
</ng-template>

<!-- Báo cáo thông kê -->
<nz-modal
  [(nzVisible)]="isVisibleReport"
  [nzTitle]="'Báo cáo thống kê'"
  (nzOnCancel)="handleCancelReport()"
  (nzOnOk)="handleCancelReport()"
  nzWidth="1000px"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <nz-range-picker
      [(ngModel)]="date"
      (ngModelChange)="onChange($event)"
    ></nz-range-picker>
    <p class="mt-2" *ngIf="date === null || date?.length === 0; else haveDate">
      {{ 'Đã có tất cả: ' + listInvoice.length + ' đơn hàng' }}
    </p>
    <p>
      Tổng tiền:
      {{ sumListInvoice(listInvoice) | number : '1.0-0' }} đ
    </p>
    <ng-template #haveDate>
      <div>
        <p class="mt-2" *ngIf="listInvoice.length > 0">
          {{
            'Đã có: ' +
              listInvoice.length +
              ' đơn hàng trong khoảng thời gian đã chọn'
          }}
        </p>
        <p class="mt-2" *ngIf="listInvoice.length === 0">
          Không có đơn hàng nào trong khoảng thời gian đã chọn
        </p>
        <p>
          Tổng tiền theo khoảng thời gian đã chọn:
          {{ sumListInvoice(listInvoice) | number : '1.0-0' }} đ
        </p>
      </div>
    </ng-template>
    <nz-table #invoiceTable nzBordered [nzData]="listInvoice" class="mt-3">
      <thead>
        <tr>
          <th
            *ngFor="let column of listColumnInvoiceReport"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
          >
            {{ column?.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of invoiceTable.data; index as index"
          class="editable-row"
        >
          <td>
            {{ data?.id }}
          </td>
          <td>{{ data?.user?.email }}</td>
          <td>{{ data?.price | number : '1.0-0' }}</td>
          <td>{{ data?.address }}</td>
          <td>{{ data?.updatedAt | date : 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
