.ellipsis-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// @media print {
//   .ant-modal{
//     width: auto !important;
//     top: 0 !important;
//   }
//   .ant-modal-close{
//     visibility: hidden !important;
//   }
// }
.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: black;
}
