/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body {
  font-family: 'Be Vietnam Pro' !important;
  margin: 0;
  font-size: 100%;
  font-size: 16px;
}

@media print {
  .ant-modal {
    width: auto;
    top: 0;
  }
  .ant-modal-close {
    visibility: hidden;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-content {
    box-shadow: unset;
  }
  .footer {
    display: none !important;
  }
}
